@using System.Web.Configuration
@using WebCms.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebCms Application</title>
    @{
        var themeName = HomeController.GetTheme();
    }
    @*  @Styles.Render("~/Theme/css")*@
   
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
   
    <script>
        var themes = {
            "default": "../../Content/bootstrap.min.css",
            "cerulean": "../../Content/cerulean.bootstrap.min.css",
            "darkly": "../../Content/darkly.bootstrap.min.css",
            "paper": "../../Content/paper.bootstrap.min.css",
            "superhero": "../../Content/superhero.bootstrap.min.css"
        }
        $(function() {
            //TODO modify here the default theme setter  themes['darkly']
            var themesheet = $('<link href="' + themes["@themeName"] + '" rel="stylesheet" />');
            themesheet.appendTo('head');
            $('.theme-link').click(function() {
                var themeurl = themes[$(this).attr('data-theme')];
                themesheet.attr('href', themeurl);
                //TODO refactor this using the PageId, and use this method only when you are >manager
                $.ajax("/api/StyleCssApi/10", {
                    data: JSON.stringify({
                        name: $(this).attr('data-theme'),
                        url: themeurl
                    }),
                    type: "put",
                    contentType: 'application/json; charset=utf-8',
                    success: function(result) {
                        notyModule.notyMsg("Style saved successfully", "information");
                    },
                    error: function(result) {
                        notyModule.notyMsg("Something wrong happened!", "error");
                    }
                });
            });
        });
    </script>
     @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WebCMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (AccountController.GetUserRole("Admin"))
                    {
                        @*<li style="font-weight: bold">*@
                            <li>
                            @Html.ActionLink("Approve Articles", "ApproveArticle", "Home")
                        </li>
                    }
                    @if (AccountController.GetUserRole("Admin") || AccountController.GetUserRole("Manager"))
                    {

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Themes <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" data-theme="default" class="theme-link">Default</a></li>
                                <li><a href="#" data-theme="cerulean" class="theme-link">Cerulean</a></li>
                                <li><a href="#" data-theme="darkly" class="theme-link">Darkly</a></li>
                                <li><a href="#" data-theme="paper" class="theme-link">Paper</a></li>
                                <li><a href="#" data-theme="superhero" class="theme-link">Superhero</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WebCMS Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/notyNotifications")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/ViewModels/IndexVM.js"></script>
    <script>
     var appUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(WebConfigurationManager.AppSettings["AppBaselUrl"], true));
    </script>
</body>
</html>
